body {
/*	overflow: hidden;*/
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

div {
	/*border: 1px solid red;*/	
}

.my-header {
	background: #DCDCDC;
}

.my-footer {
	background: #DCDCDC;
	margin-top: 100px;
}

.my-logo {
	margin-left: 15px;
	margin-top: 5px;
	width: 100%;
	height: 40px;
}

.my-list-menu {
	margin: 0;
	padding: 0;
}

.my-list-menu-item {
	display: inline;
	font-size: 11px;
	cursor: pointer;
}
.my-list-menu-item:hover {
	text-decoration: underline;
}

.my-search-field {
	width: 80% !important;
}

.btn {
	border-radius: 0px;
}

.my-div-register {
	margin-bottom: 5px;
}

.input-sm {
	border-radius: 0px;
}

.my-div-register {
	text-align: center;
}
.my-btn-register {
	margin-top: 17px;
}

.my-breadcrumbs ul{
	margin-left: 10px;
	color: #708090;
}

.my-menu-left {
	margin-left: 10px;
	margin-top: 0px;
	padding: 5px;
	width: 90%;
	background: #E8E8E8;
	border-radius: 3px;
}
.my-menu-left .a {

}

/* ФОРМА РЕГИСТРАЦИИ */
.my-form-register {
	padding: 5px;
}
.my-input-login {
	margin: 5px;
	width: 99% !important;

}
.my-input-password {
	margin: 5px;
	width: 99% !important;

}
.my-btn-login {
	margin: 5px;
	float: left;		
}
.my-btn-reg {
	margin: 5px;
	margin-right: 0px;
	float: right;		
}
.my-captcha {
	margin: 5px;
}

.popover {
	max-width: 100%;
}

.my-clear-both {
	clear: both;
}

/* КАТЕГОРИЯ КАТАЛОГА КНИГ */
.my-catalog {
	
}
.my-category {
	/*border: 1px solid gray;*/
	padding: 5px;
	width: 100%;
	margin: 5px;
	margin-top: 0px;
}
.my-category-top {	
	margin-top: 50px;
}
.my-left-block {
	float: left;
	margin-right: 10px;
}
.my-right-block {
	
}
.my-category-book {
	font-weight: bold;
}
.my-category-author {
	margin-top: 0px;
	color: gray;
}
.my-category-user,
.my-category-about,
.my-category-read {
	margin-top: 5px;
}
.my-category-user {
	color: gray;
}
.my-category-book {
	font-size: 18px;
}
.my-img-book-logo {
	width: 100px;
	height: 150px;	
}
.my-category-about .btn,
.my-category-read .btn{
	width: 100px !important;
}
.my-pagination {
	text-align: center;
}

/* страницы читалки */
.my-page-left,
.my-page-right {
	/*border: 1px solid red;*/
	pading-top: 10px;
	pading-bottom: 10px;
	padding-left: 30px;
	padding-right: 0px;
}
.my-noselect {	/*запрет копирования текста*/
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}